
@import "variables";
@import "mixins";
@import "config";

/*DESTINATION*/

#header-destination {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    @include header;

    nav {

        width: 100%;
        max-width: $maxWidth;
        @include navFlex;
        margin: 0 auto;
        margin-top: 0;
        padding-top: 1.5rem;

        ul {
            display: flex;
            position: relative;
            list-style: none;
           

            /*opacity: 0.4;
                filter: blur(2px);*/
            padding: 1.5rem 1rem;
            z-index: 1;

            @include list;


            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(124, 124, 124);
                opacity: 0.3;
                filter: blur(1px);
                z-index: -1;


            }
        }

        .toggle {
            display: none;
        }

    }

    article {
        max-width: $maxWidth;
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        margin: 0 auto;
        .destination__img {
            p {
                font-size: 28px;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-weight: lighter;
            }
        
            span {
                margin-right: 6px;
                color: #bababa;
                font-weight: 600;
            }
        
            img {
                max-width: 100%;
                height: auto;
                animation: spin 24s linear infinite;
        
            }
        
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
        
                100% {
                    transform: rotate(360deg);
                }
            }
        
        }
        
        .destination__title {
            display: block;
        
            .destination__nav {
                display: flex;
        
                ul {
                    display: flex;
                    list-style: none;
                    padding: 1.5rem 1rem;
                }
        
                @include list;
        
            }
        
            h1 {
                font-size: 140px;
                font-weight: 300;
                margin: 0;
                text-transform: uppercase;
            }
        
            .destination__meta {
                display: flex;
                justify-content: space-between;
                margin-right: 10rem;       
        
            }
        
        
        }
    }

}